body {
	font-family: arial;
	margin:15px;
	margin-top: 10px;
	margin-bottom: 12px;	
	padding:20px;
	font-size: 18px;
	background-color: black;
	color: green;
	text-align: center;
}

section {
border: 4px dotted green;
padding: 15px;
width: 250;
text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

.in--width3{
    width:22px;
    text-align: center;
}

.in--width2{
    width: 15px;
    text-align: center;
}